<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <title>Car-Service</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class='flex-column justify-space-around'>
    <header class='display-flex justify-space-between align-center p-2'>
      <h1>
        Car-Service
      </h1>
    </header>
    <nav>
      <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/dashboard">Dashboard</a></li>
          {{#if loggedIn}}
          <li><a class="link"  id="logout">Logout</a></li>
          {{else}}
          <li><a class="link" href="/login">Login</a></li>
          {{/if}}
    </nav>
    <main class='container container-fluid mt-5'>
      {{{body}}}
    </main>
  </div>
  <footer class="footer">
  <div class="row">
    <p>
      Car Service CRM
    </p>
  </div>
</footer>
{{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>



</html>
 

