<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <title>Car-Service</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
  <link rel='stylesheet' href='/css/jass.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class='flex-column justify-space-around'>
    <header class='display-flex justify-space-between align-center p-2'>
      <h1>
        Car-Service
      </h1>
    </header>
    <nav>
      {{#if logged_in}}

      <a href="/dashboard">Dashboard</a> |
      <button class="button" id="create">Create Client</button>
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main class='container container-fluid mt-5'>
      {{{body}}}
    </main>
  </div>
</body>

<footer class="footer">
  <div class="row">
    <p>
      Car Service CRM
    </p>
  </div>
</footer>

</html>