<div class="col-md-6">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="phoneNumber-signup">phoneNumber:</label>
        <input class="form-input" type="text" id="phoneNumber-signup" />
      </div>
      <div class="form-group">
        <label for="repairOrderNumber-signup">repairOrderNumber:</label>
        <input class="form-input" type="text" id="repairOrderNumber-signup" />
      </div>
      <div class="form-group">
        <label for="carModel-signup">carModel:</label>
        <input class="form-input" type="text" id="carModel-signup" />
      </div>
      <div class="form-group">
        <label for="serviceRequested-signup">serviceRequested:</label>
        <input class="form-input" type="text" id="serviceRequested-signup" />
      </div>
      <div class="form-group">
        <label for="waitingForService-signup">waitingForService:</label>
        <input class="form-input" type="text" id="waitingForService-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>