<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title">Sign In</h2>
      <form class="box" id="loginForm">
        <div class="field">
          <label class="label" for="email-login">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="text" id="email-login" placeholder="e.g. alexjohnson@example.com">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label" for="password-login">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" id="password-login" placeholder="********">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button class="button is-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

  

<script src="/js/login.js"></script>
